canvas{
    position:absolute;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 245, 245);
}

body{
    background-color: rgb(163, 163, 163);
}